.box-a, .box-b {
    height: 100px;
    width: 100px;
}

.box-a {
    background: red;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    display: none
}
.box-b {
    background: blue;
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box-father {
    background: yellow;
    padding: .5rem;
    margin: 4rem;
    position: relative;

}

.box-gf {
    max-width: 300px;
    background: cyan;
    padding: 4rem;
    position: relative;
    margin: 4rem;
}